HUE_DISCO_CONFIG={{ config_path }}
HUE_DISCO_STATE_DIR={{ state_dir }}
HUE_DISCO_LOG_DIR={{ log_dir }}
HUE_DISCO_SOURCE_DIR={{ hue_disco_git_dest }}
HUE_DISCO_UPDATE_BRANCH={{ hue_disco_git_version | default('main') }}
