# Managed by Ansible. Optional direct Hue bridge Ethernet helper.
ENABLED={{ 1 if (rpi_network.enabled | default(false) | bool) else 0 }}
MODE={{ rpi_network.mode | default('disabled') }}
ETH_IFACE={{ rpi_network.eth.interface | default('eth0') }}
UPLINK_IFACE={{ rpi_network.uplink.interface | default('wlan0') }}
DHCP_TIMEOUT={{ rpi_network.eth.dhcp_timeout_seconds | default(20) }}
ETH_STATIC_CIDR={{ rpi_network.eth_downstream.address | default('192.168.77.1/24') }}
ETH_STATIC_IP={{ (rpi_network.eth_downstream.address | default('192.168.77.1/24')).split('/')[0] }}
ETH_DHCP_START={{ rpi_network.eth_downstream.dhcp_start | default('192.168.77.2') }}
ETH_DHCP_END={{ rpi_network.eth_downstream.dhcp_end | default('192.168.77.10') }}
ETH_DHCP_LEASE={{ rpi_network.eth_downstream.lease_time | default('24h') }}
HUE_INTERNAL_IP={{ rpi_network.eth_downstream.hue_bridge_ip | default(rpi_network.eth_downstream.dhcp_start | default('192.168.77.2')) }}
LAN_EXPOSE={{ 1 if (rpi_network.expose_to_lan.enabled | default(false) | bool) else 0 }}
LAN_EXPOSE_MODE={{ rpi_network.expose_to_lan.mode | default('dhcp') }}
LAN_VIRTUAL_IP={{ rpi_network.expose_to_lan.virtual_ip | default('') }}
LAN_DHCP_CLIENT_ID={{ rpi_network.expose_to_lan.dhcp_client_id | default('hue-bridge-direct-' ~ inventory_hostname) }}
FORWARDED_TCP_PORTS="{{ rpi_network.expose_to_lan.forwarded_tcp_ports | default([80, 443]) | join(' ') }}"
